*.a
*.so
*.so.*
*.mo
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
CPack*Config.cmake
Makefile
config.h
info.backtrace.youki.app.service
info.backtrace.youki.mlibman.service
info.backtrace.youki.sentinel.service
mpx.1
mpx.pc
mpxlib/mpx-mlibman-dbus.hh
mpxlib/youki-mlibman-bin
po/youki.pot
remote/youki
sentinel/youki-sentinel-bin
src/youki-bin
src/mpx-mlibman-dbus-proxy.hh
src/mpx-app-dbus-adaptor.hh
python/plugins/albumactions/__init__.py
python/plugins/audioscrobbler/__init__.py
python/plugins/lastfmstuff/__init__.py
python/plugins/mpxdj/__init__.py
python/plugins/mtpplayer/__init__.py
python/plugins/musicbrainz-tools/__init__.py
python/plugins/osd/__init__.py
python/plugins/puid-scan/__init__.py
python/plugins/trackcover/__init__.py
python/plugins/trackinfo-webkit/__init__.py
widgets/widget-marshalers.c
widgets/widget-marshalers.h
